body {
  margin: 0;
}

.glitch {
  background: #000 no-repeat center;
  background-size: 0;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.glitch::before, .glitch::after,
.glitch .channel {
  background: inherit;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.glitch::before {
  animation: glitch-before 3s linear infinite alternate both;
  content: "";
}
@keyframes glitch-before {
  0% {
    clip-path: polygon(0% 50.6401780673%, 100% 50.6401780673%, 100% 59.3115494995%, 0% 59.3115494995%);
    transform: translate(-5.4639255801%, -0.4967407051%);
  }
  2% {
    clip-path: polygon(0% 9.3074175912%, 100% 9.3074175912%, 100% 18.1199132891%, 0% 18.1199132891%);
    transform: translate(5.613991004%, 0.3617811033%);
  }
  4% {
    clip-path: polygon(0% 76.7715046907%, 100% 76.7715046907%, 100% 79.1005801741%, 0% 79.1005801741%);
    transform: translate(0.0542192408%, -0.3772268619%);
  }
  6% {
    clip-path: polygon(0% 11.8785353857%, 100% 11.8785353857%, 100% 14.6509928005%, 0% 14.6509928005%);
    transform: translate(-4.8805920907%, 0.0063702474%);
  }
  8% {
    clip-path: polygon(0% 0.9919956672%, 100% 0.9919956672%, 100% 8.0789334081%, 0% 8.0789334081%);
    transform: translate(6.837709923%, 0.4161519608%);
  }
  10% {
    clip-path: polygon(0% 65.1344498433%, 100% 65.1344498433%, 100% 70.8561728642%, 0% 70.8561728642%);
    transform: translate(4.9656523501%, -0.0476090634%);
  }
  12% {
    clip-path: polygon(0% 79.9301223417%, 100% 79.9301223417%, 100% 83.5502047995%, 0% 83.5502047995%);
    transform: translate(-5.0003690262%, 0.1998156115%);
  }
  14% {
    clip-path: polygon(0% 67.0144980932%, 100% 67.0144980932%, 100% 70.1866283351%, 0% 70.1866283351%);
    transform: translate(-6.4712665443%, -0.298164715%);
  }
  16% {
    clip-path: polygon(0% 50.9876424891%, 100% 50.9876424891%, 100% 52.5757014688%, 0% 52.5757014688%);
    transform: translate(4.0810132099%, -0.3528909737%);
  }
  18% {
    clip-path: polygon(0% 81.2202395642%, 100% 81.2202395642%, 100% 84.1989383925%, 0% 84.1989383925%);
    transform: translate(3.2224644181%, -0.4638894186%);
  }
  20%, 100% {
    clip-path: none;
    transform: none;
  }
}
.glitch::after {
  animation: glitch-after 3s linear infinite alternate both;
  content: "";
}
@keyframes glitch-after {
  0% {
    clip-path: polygon(0% 45.8161803654%, 100% 45.8161803654%, 100% 50.9510971934%, 0% 50.9510971934%);
    transform: translate(-6.0080148573%, 0.2555566631%);
  }
  2% {
    clip-path: polygon(0% 4.6141272088%, 100% 4.6141272088%, 100% 10.2828105657%, 0% 10.2828105657%);
    transform: translate(2.6962168436%, -0.3346180889%);
  }
  4% {
    clip-path: polygon(0% 87.9859880578%, 100% 87.9859880578%, 100% 93.2453935455%, 0% 93.2453935455%);
    transform: translate(-1.977188325%, -0.4937025193%);
  }
  6% {
    clip-path: polygon(0% 49.122200302%, 100% 49.122200302%, 100% 51.8808750992%, 0% 51.8808750992%);
    transform: translate(3.6537800118%, 0.3947911772%);
  }
  8% {
    clip-path: polygon(0% 28.828211392%, 100% 28.828211392%, 100% 37.9299646103%, 0% 37.9299646103%);
    transform: translate(-6.0406271579%, 0.4528763344%);
  }
  10% {
    clip-path: polygon(0% 84.6526205557%, 100% 84.6526205557%, 100% 85.9003193571%, 0% 85.9003193571%);
    transform: translate(-1.5680683765%, -0.049555293%);
  }
  12% {
    clip-path: polygon(0% 7.1436990107%, 100% 7.1436990107%, 100% 16.4236423506%, 0% 16.4236423506%);
    transform: translate(-5.897535574%, -0.3161679631%);
  }
  14% {
    clip-path: polygon(0% 60.4656133795%, 100% 60.4656133795%, 100% 70.0502673492%, 0% 70.0502673492%);
    transform: translate(-7.7096531729%, 0.2941082994%);
  }
  16% {
    clip-path: polygon(0% 40.5032523147%, 100% 40.5032523147%, 100% 47.020018897%, 0% 47.020018897%);
    transform: translate(6.7968387856%, 0.4109735011%);
  }
  18% {
    clip-path: polygon(0% 64.2944244239%, 100% 64.2944244239%, 100% 68.2296409038%, 0% 68.2296409038%);
    transform: translate(0.7881725505%, 0.078146493%);
  }
  20%, 100% {
    clip-path: none;
    transform: none;
  }
}
.glitch .channel {
  mix-blend-mode: screen;
}
.glitch .channel::before {
  bottom: 0;
  content: "";
  display: block;
  mix-blend-mode: multiply;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.glitch .r {
  animation: rgb-shift-r 3s steps(1, jump-end) infinite alternate both;
}
@keyframes rgb-shift-r {
  0% {
    transform: translate(1.3987223344%, -0.3568872473%);
  }
  2% {
    transform: translate(1.6283502971%, -0.2686219254%);
  }
  4% {
    transform: translate(0.4464904771%, -0.2481476988%);
  }
  6% {
    transform: translate(1.3888049201%, -0.4873791208%);
  }
  8% {
    transform: translate(1.3477616563%, 0.291769877%);
  }
  10% {
    transform: translate(0.7079113456%, 0.3535695958%);
  }
  12% {
    transform: translate(-0.9625500633%, -0.451266458%);
  }
  14% {
    transform: translate(0.7212995891%, 0.2479207651%);
  }
  16% {
    transform: translate(-1.6184220142%, -0.1896259895%);
  }
  18% {
    transform: translate(0.2786373026%, 0.2267826072%);
  }
  20%, 100% {
    transform: none;
  }
}
.glitch .r::before {
  background: #f00;
}
.glitch .g {
  animation: rgb-shift-g 3s steps(1, jump-end) infinite alternate both;
}
@keyframes rgb-shift-g {
  0% {
    transform: translate(1.8739099085%, 0.0934708748%);
  }
  2% {
    transform: translate(-0.3688793026%, 0.1278561797%);
  }
  4% {
    transform: translate(-1.0504226906%, 0.1629245532%);
  }
  6% {
    transform: translate(1.6741406887%, 0.0799559163%);
  }
  8% {
    transform: translate(0.9277414162%, 0.1573292647%);
  }
  10% {
    transform: translate(-1.4761976253%, -0.234084868%);
  }
  12% {
    transform: translate(1.98643141%, -0.3501906854%);
  }
  14% {
    transform: translate(0.5011966106%, 0.3342488203%);
  }
  16% {
    transform: translate(-0.6630715726%, -0.3098191392%);
  }
  18% {
    transform: translate(-0.9562405796%, 0.4404250993%);
  }
  20%, 100% {
    transform: none;
  }
}
.glitch .g::before {
  background: #0f0;
}
.glitch .b {
  animation: rgb-shift-b 3s steps(1, jump-end) infinite alternate both;
}
@keyframes rgb-shift-b {
  0% {
    transform: translate(-1.2781462388%, -0.0891837274%);
  }
  2% {
    transform: translate(-0.5127195861%, 0.0002126349%);
  }
  4% {
    transform: translate(-1.8462329675%, -0.0413589493%);
  }
  6% {
    transform: translate(-1.6215541875%, 0.2108834799%);
  }
  8% {
    transform: translate(0.8316708077%, -0.0787871577%);
  }
  10% {
    transform: translate(0.7959835159%, 0.3911311911%);
  }
  12% {
    transform: translate(1.0789215935%, -0.1394997251%);
  }
  14% {
    transform: translate(-1.3252898708%, -0.3081978231%);
  }
  16% {
    transform: translate(1.6798872681%, -0.1869854281%);
  }
  18% {
    transform: translate(1.3040430114%, 0.1120530516%);
  }
  20%, 100% {
    transform: none;
  }
}
.glitch .b::before {
  background: #00f;
}