@import "../base/fonts";
@import '../base/variables';
@import "../base/animation";



.news {
    color: @white;
    letter-spacing: 0.01em;
    position: relative;
    height: 100%;
    overflow: hidden;
    
        &:before {
          position: absolute;
          content: '';
          top: 120px;
          left: 9%;
          width: 924px;
          height: 924px;
          background: @accent;
          border-radius: 50%;
          background-repeat: no-repeat;
          background-size: 80%;
          animation: growup 2s ease-out;
          z-index: 0;
      }

      &__accordion {
        margin-top: 30px;
      }

      &__title {
        position: relative;
        z-index: 5;

        &:after {
            content: '';
            position: absolute;
            left: 29%;
            top: 12%;   
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background: @accent;
            animation: blink 2s infinite;
      
            @media screen and (max-width: @sizes[maxSM]) {
              width: 20px;
              height: 20px;
              top: calc(50% - 10px);
              left: 30.7%;
            }
        }
      }

    h2 {
        color: @white;
        margin: 0;
        text-transform: uppercase;
        .fontSize(36px; 50px);
        font-family: @fontBold;
    }

    &__item {
        position: relative;
        background: #161616ED;
        border-top: 1px solid #636363;
        padding: 45px 36px;
        cursor: pointer;
        transition: @transition;

        &:hover {
            background: #232323ED;
        }
    }


  .item__close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    position: absolute;
    top: calc( 50% - 12px );
    right: 36px;
    transition: @transition;

    @media ( max-width: @sizes[ maxSM ] ) {
      right: 0;
    }

    &::before,
    &::after {
      content: '';
      display: block;
      width: 22px;
      height: 3px;
      position: absolute;
      top: calc(50% - 1.5px);
      background: @accent;
      transition: @transition;
      transform-origin: center;
      border-radius: 1px;
      left: 0;
    }

    &::after {
      left: 0;
      //transform: rotate(45deg);
    }

    &::before {
      left: 0;
      transform: rotate(90deg);
    }

    &.active {
      transform: rotate(135deg);
    }
  }

  .item__title-wrap {
    position: relative;
  }

  .item__description {
    display: flex;
    gap: 24px;
    margin-top: 45px;
  }

  .item__text {
    width: 47%;
    .fontSize(19px, 26px);
    opacity: .5;
  }

  .item__img {
    width: 100%;
    height: 100%;
    min-width: 488px;
    min-height: 477px;
    max-width: 488px;
    max-height: 477px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

    // &__wrap {
        
    // }

   
}


