@import "../base/fonts";
@import '../base/variables';
@import "../base/animation";

.top-screen {
  position: relative;

  &__wrap {
    position: relative;
    width: fit-content;

    @media (max-width: @sizes[maxSM]) {
      max-width: 385px;
    }

    @media (max-width: @sizes[maxXS]) {
      max-width: 320px;
    }

    &:after {
      content: '';
      position: absolute;
      left: 31.4%;
      top: calc(50% - 15px);
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: @accent;
      animation: blink 2s infinite;

      @media (max-width: @sizes[maxSM]) {
        width: 20px;
        height: 20px;
        top: calc(50% - 10px);
        left: 119px;
      }

      @media (max-width: @sizes[maxXS]) {
        width: 15px;
        height: 15px;
        top: calc(50% - 8px);
        left: 100px;
      }
    }
  }
}

.blog {
  position: relative;
  padding: 0 0 60px;
  
  .container {
    padding: 0;

    @media (max-width: @sizes[maxMD]) {
      padding: 0 16px;
    }  
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @media (max-width: @sizes[maxSM]) {
      gap: 1rem;
    }
  }

  .blog__group {
    display: flex;
    flex-wrap: wrap;
    
    @media (max-width: @sizes[maxSM]) {
      gap: 1rem;
    }
  }

  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: none;
    overflow: hidden;
    transition: .3s;
    position: relative;
    min-height: 464px;

    @media (max-width: @sizes[maxMD]) {
      min-height: 356px;
    }
    
    @media (max-width: @sizes[maxMD]) {
      width: 100%;
      min-height: 326px;
    }

    @media (min-width: @sizes[minMD]) {
      &:nth-child(1), &:nth-child(2) {
        width: 50%;
      }
  
      &:nth-child(3), &:nth-child(4), &:nth-child(5) {
        width: 33.33334%;

        .info__left {
          gap: 20px;
        }
      }
  
      &:nth-child(6) {
        width: 100%;
        background-position: center top;
      }
    }

    @media (min-width: @sizes[minLG]) {
      filter: grayscale(1);

      
      &:active, &:hover {
        filter: grayscale(0); 

        .info {
          opacity: 1;
        }

        h2 {
          transform: translateX(-20px);
        }

        .item__wrap {
          box-shadow: inset 0 -374px 85px -110px rgba(0,0,0,.75);
        }
      }
    }

    h2 {
      grid-row-start: 2;
      align-self: center;
      justify-self: center;
      text-align: center;
      max-width: 400px;
      .fontSize(50px, 70px);
      .font(700);
      color: @white;
      text-transform: uppercase;
      margin: 0;
      transition: @transition;

      @media (max-width: @sizes[maxMD]) {
        .fontSize(35px, 48px);
      }
    }

    .info {
      display: flex; 
      justify-content: space-between;
      align-items: center;
      padding: 0 16px 20px 46px;
      grid-row-start: 3;
      transition: @transition;

      @media (max-width: @sizes[maxSM]) {
        padding: 0 25px;
      }  

      @media (min-width: @sizes[minSMPlus]) and (max-width: @sizes[maxLG]) {
        padding: 0 15px;
      }
      
      @media (min-width: @sizes[minLG]) {
        opacity: 0;
        // box-shadow: inset 0 -145px 25px -20px rgba(0,0,0,.75);
      }

      &__left {
        display: flex; 
        gap: 30px;

        @media (max-width: @sizes[maxSM]) {
          justify-content: space-between;
          width: 100%;
        } 

        @media (max-width: @sizes[maxLG]) {
          gap: 20px;
        }
      }

      &__right {
        @media (max-width: @sizes[maxMD]) {
          display: none;
        }

        svg {
          width: 35px;
          height: 35px;

          @media (max-width: @sizes[maxLG]) {
            width: 25px;
            height: 25px;
          }
        }
      }

      &__top {
        display: flex;
        justify-content: flex-end;
        padding: 20px;

        @media (min-width: @sizes[maxMD]) {
          display: none;
        }

        svg {
          @media (max-width: @sizes[maxMD]) {
            width: 16px;
            height: 16px;
          } 
        }
      }

      &__description {
        color: @white;
        .fontSize(23px, 32px);

        @media (max-width: @sizes[maxLG]) {
          .fontSize(16px, 22px);
        }
      }

      &__title {
        color: #aaaaae;
        .fontSize(23px, 32px);

        @media (max-width: @sizes[maxLG]) {
          .fontSize(16px, 22px);
        }
      }
    }
 
    &__wrap {
      display: grid;
      grid-auto-rows: 1fr 1fr 1fr;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      

      @media (max-width: @sizes[maxLG]) {
        grid-auto-rows: 1.5fr .5fr .8fr;
        box-shadow: inset 0 -260px 85px -110px rgba(0,0,0,.75);
      }
    }

    @media (max-width: @sizes[maxMD]) {
      &:nth-child(n + 1) {
        width: 50%;
      }
    }

    @media (max-width: @sizes[maxSM]) {
      &:nth-child(n + 1) {
        width: 100%;
      }
    }

  }

  &__posts{
    padding-bottom: 40px;
  }

  &__pagination {
    padding-bottom: 40px;

    .page-numbers{
      display: inline-block;
      height: 36px;
      line-height: 36px;
      text-align: center;
      font-size: 14px;
      min-width: 20px;
      padding: 0 15px;
      text-transform: uppercase;
      transition: background-color .15s ease-in-out;
      box-shadow: none;
      background-color: transparent;
      color: @text;
      border: 1px solid @text;

      &:hover{
        background-color: #eee;
      }

      &:active{
        background-color: #ddd;
      }

      &.current{
        pointer-events: none;
        background-color: #ddd;
      }
    }
  }
}


