@import "../base/fonts";
@import '../base/variables';
@import "../base/animation";
// @import "../libs/glitch";


.about {
    background: #cc9b9b;
}

.top-screen {
    padding: 30px 0;
    
    &__wrap {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        padding-bottom: 30px;

        @media (max-width: @sizes[maxSM]) {
            flex-direction: column;
        }
    }

    &__right {
        width: 50%;
        .fontSize(42px, 58px);

        @media (max-width: @sizes[maxLG]) {
            .fontSize(28px, 34px);
        }

        @media (max-width: @sizes[maxSMPlus]) {
            width: 45%;
            .fontSize(18px, 24px);
        }

        @media (max-width: @sizes[maxSM]) {
            width: 100%;
        }

        a {
         color: @accent;   
         transition: @transition;

            @media (min-width: @sizes[minLG]) {
                &:hover {
                    color: #9c1623;
                }   
            }
        }
    }

    &__left {
        position: relative;

        @media (max-width: @sizes[maxLG]) {
            max-width: 470px;
        }

        @media (max-width: @sizes[maxSMPlus]) {
            max-width: 320px;
        }

        &:after {
            content: '';
            position: absolute;
            left: 48.2%;
            top: 45px;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background: @accent;
            animation: blink 2s infinite;

            @media (max-width: @sizes[maxLG]) {
                left: 47.8%;
                top: 39px;
            }
      
            @media screen and (max-width: @sizes[maxSMPlus]) {
              width: 20px;
              height: 20px;
              top: 27px;
              left: 48%;
            }
        }
        
    }

    &__video {
        position: relative;
        width: 100%; 
        height: 100%;
        max-height: 80vh;
        min-height: 744px;
        overflow: hidden;

        @media (max-width: @sizes[maxSM]) {
            min-height: 400px;
        }
    
        &:after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.42);
        }

        video {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100vw;
            height: auto;
            transform: translate(-50%, -50%);

            @media (max-width: @sizes[maxLG]) {
                width: auto;
                height: 100%;
            }
        }

    }
}

.team {
    padding: 50px 0 80px;

    &__title {
        position: relative;

        @media (max-width: @sizes[maxSMPlus]) {
            max-width: 470px;
        }

        @media (max-width: @sizes[maxSM]) {
            max-width: 380px;
        }

        @media (max-width: @sizes[maxXS]) {
            max-width: 320px;
        }

        &:after {
            content: '';
            position: absolute;
            left: 51px;
            top: calc(50% - 16px);
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background: @accent;
            animation: blink 2s infinite;

            @media screen and (max-width: @sizes[maxSMPlus]) {
                left: 30px;
                top: calc(50% - 10px);
                width: 20px;
                height: 20px;
            }

            @media screen and (max-width: @sizes[maxSM]) {
                left: 21.5px;
            }

            @media (max-width: @sizes[maxXS]) {
                left: 17.5px;
            }

        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 55px;
        margin-top: 32px;
        background-image: url('../images/about/aboutbg.png');
        background-repeat: no-repeat;
        background-position-x: center;

        @media (max-width: @sizes[maxSM]) {
            max-width: 400px;
            margin: 32px auto 0; 
        }
    }

    .item {
        display: flex;
        flex-direction: column;
        color: @black;

        @media (max-width: @sizes[maxSM]) {
            align-items: center;
        }

        &__bottom {
            display: grid;
            margin-top: -60px;
            
            @media (min-width: @sizes[minSM]) {
                margin-top: -110px;
            }

            @media (max-width: @sizes[maxSM]) {
                grid-template-columns: 1fr;
                align-items: start;
                width: 100%;
            }
        }

        .item__firstname, .item__lastname {
            .fontSize(100px, 100px);

            @media (max-width: @sizes[maxMD]) {
                .fontSize(70px, 70px);
            }

            @media (max-width: @sizes[maxSM]) {
                .fontSize(50px, 50px);
            }
        }
        
      
        &__firstname {
            color: @accent;
            .fontSize(100px, 100px);
        }

        &__lastname {
            color: @white;
            .fontSize(100px, 100px);

            @media (min-width: @sizes[minSM]) {
                grid-row-start: 2;
                grid-row-end: 2;
            }
        }
        

        &__position {
            align-self: end;
            padding-left: 43px;
            color: #b2b2b2;
            .fontSize(20px, 26px);
            .font(400);
            max-width: 250px;
            padding-bottom: 10px;

            @media (min-width: @sizes[minSM]) {
                grid-row-start: 2;
                grid-row-end: 2;
            }

            @media (max-width: @sizes[maxMD]) {
                padding-bottom: 0;
            }

            @media (max-width: @sizes[maxSM]) {
                padding: 15px 0;
            }
        }

        &__icon {
            height: 320px;
            width: 320px;
            border-radius: 50%;
            overflow: hidden;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;


            @media (min-width: @sizes[minXS]) {
                height: 400px;
                width: 400px;
            }

            @media (min-width: @sizes[minSM]) {
                height: 456px;
                width: 456px;
            }
        }

        &:nth-child(1) {
            .item__bottom {
                @media (min-width: @sizes[minSM]) {
                    grid-template-columns: 1fr 1fr;
                }
            }   

            .item__firstname {
                @media (min-width: @sizes[minSM]) {
                    padding-left: 62px;
                }
            }

            .item__lastname {
                @media (min-width: @sizes[minMD]) {
                    padding-left: 112px;
                }

                @media (min-width: @sizes[minSM]) and (max-width: @sizes[maxMD]) {
                    padding-left: 20px;
                }
            }

            .item__position {
                align-self: end;
            }
        }

        &:nth-child(2) {
            @media (min-width: @sizes[minSM]) {
                align-items: center;
            }

            .item__bottom {
                @media (min-width: @sizes[minSM]) {
                    grid-template-columns: 1fr 1fr;
                }
            }   
            
            .item__firstname {
                @media (min-width: @sizes[minSM]) {
                    justify-self: start;
                    display: flex;
                    padding-left: 120px;
                    grid-column-start: 1;
                    grid-column-end: 3;
                }

                @media (min-width: @sizes[minMD]) {
                    padding-left: 220px;
                }
            }
        }

        &:nth-child(3) {
            @media (min-width: @sizes[minSM]) {
                align-items: end;
            }
            
            .item__bottom {
                @media (min-width: @sizes[minSM]) {
                    grid-template-columns: 1fr .7fr;
                }
            }   
            
            .item__firstname {
                @media (min-width: @sizes[minSM]) {
                    justify-self: start;
                    display: flex;
                    padding-left: 120px;
                    grid-column-start: 1;
                    grid-column-end: 3;
                }

                @media (min-width: @sizes[minMD]) {
                    padding-left: 220px;
                }
            }

            .item__position {
                max-width: 180px;
            }
        }

        &:nth-child(4) {
            @media (min-width: @sizes[minSM]) {
                align-items: start;
            }
            
            @media (min-width: @sizes[minLG]) {
                padding-left: 200px;
            }
            
            .item__bottom {
                @media (min-width: @sizes[minSM]) {
                    grid-template-columns: 1fr .8fr;
                }
            }   
            
            .item__firstname {
                
                @media (min-width: @sizes[minSM]) {
                    justify-self: start;
                    display: flex;
                    grid-column-start: 1;
                    grid-column-end: 3;
                    padding-left: 80px;
                }
            }

            .item__lastname {
                
                @media (min-width: @sizes[minLG]) {
                    padding-left: 260px;
                }
            }

            .item__position {
                max-width: 180px;
            }
        }

        &:nth-child(5) {
            @media (min-width: @sizes[minSM]) {
                align-items: end;
                padding-right: 100px;
            }
            
            .item__bottom {
                @media (min-width: @sizes[minSM]) {
                    grid-template-columns: 1fr .3fr;
                }
            }   
            
            .item__firstname {

                @media (min-width: @sizes[minSM]) {
                    justify-self: end;
                    display: flex;
                    grid-column-start: 1;
                    grid-column-end: 3;
                    padding-right: 50px;
                }
            }

            .item__position {
                @media (min-width: @sizes[minSM]) {
                    grid-column-start: 2;
                    max-width: 180px;
                }
            }
        }

        &:nth-child(6) {
            .item__bottom {
                @media (min-width: @sizes[minSM]) {
                    grid-template-columns: auto 1fr;
                }
            }   

            .item__firstname {
                @media (min-width: @sizes[minSM]) {
                    padding-left: 62px;
                }
            }

            .item__lastname {
                @media (min-width: @sizes[minSM]) {
                    padding-left: 112px;
                }
            }

            .item__position {
                max-width: 150px;
            }
        }
    }
}