@keyframes blink {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}


@keyframes progress {
    0% { width: 0; }
    100% { width: 100%; }
}

@keyframes fadeoutloader {
    0% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes slideup {
    0% { top: 0; }
    80% { top: 0; }
    100% { top: -50%; }
}

@keyframes slidedown {
    0% { bottom: 0; }
    80% { bottom: 0; }
    100% { bottom: -50%; }
}

@keyframes growup {
    0% { background-size: 10%; }
    100% { background-size: 80%; }
}